Էկեք որ ես ձեզ շփոթության մեջ չգցեմ, որ կարմիր նոթիֆիքեյշնը չկա գրեք "Field Error "
ու էն ինչով ռր ստուգում եք. օրինակ Field error - Message cannot have more than 180 letters .
 սա հենց մեր տեքստնա գրած

Negative - check that the name field contains only letters and is not empty
Negative - check that the email is valid
Negative - phone only digits, not letters, not empty
Negative- Message cannot have more than 180 letters, can be empty
Positive - Check the clear button
Positive - Check that the success notification pops up after form submission